{minimum_otp_vsn, "21.0"}.

{erl_opts, []}.

{deps, [
    {'grpcbox', {git, "https://github.com/tsloughter/grpcbox", {tag, "v0.12.0"}}}
]}.

{grpc,
    [
        {type, all},
        {protos, ["protos"]},
        {force, false},
        {out_dir, "src/grpc/cs_gen"},
        {service_modules, [{'grpc.return.v1.Return', "grpc_return"}]},
        {gpb_opts, [
            {descriptor, true},
            {module_name_prefix, "ct_"},
            {module_name_suffix, "_pb"},
            use_packages,
            maps,
            type_specs,
            {i, "."},
            {o, "src/grpc/proto"}
        ]}
    ]}.

%% open with compile proto
%%{provider_hooks,
%%    [{pre, [{compile, {grpc, gen}}]}]}.

{project_plugins, [covertool,
    {grpcbox_plugin, "~> 0.7.0"},
    rebar3_lint]}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.