[
    {grpcbox, [
        {client, #{channels => [
            {default_channel, [{https, "127.0.0.1", 8080, [{certfile, "./certs/server1.pem"},
                {keyfile,  "./certs/server1.key"},
                {cacertfile, "./certs/ca.pem"}]}], #{}}
        ]}},
        {servers,
            [#{grpc_opts => #{service_protos => [ct_return_pb, grpcbox_health_pb],
                services => #{'grpc.return.v1.Return' => g_return_svr,
                    'grpc.health.v1.Health' => g_health_svr},
                client_cert_dir => "./certs/"},

                transport_opts => #{ssl => true,
                    keyfile => "./certs/server1.key",
                    certfile => "./certs/server1.pem",
                    cacertfile => "./certs/ca.pem"},

                listen_opts => #{port => 8080,
                    ip => {127,0,0,1}},

                pool_opts => #{size => 10},

                server_opts => #{header_table_size => 4096,
                    enable_push => 1,
                    max_concurrent_streams => unlimited,
                    initial_window_size => 65535,
                    max_frame_size => 16384,
                    max_header_list_size => unlimited}}]}]}
].